:root {
  --primary-color: #000;
  --seconday-color: red;
  --tertiarty-color: #d1d7de;
  --font-family: "Archivo", sans-serif;
}

body {
    background-color: black;
    color: white;
}

img {
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 50px 50px 0;
}

 .content {
    padding: 30px;
    color: white;
    font-size: 30px;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: var(--tertiarty-color);
    position: absolute;
    padding-right: 30px 0;
  }

  a:hover {
    color: var(--seconday-color);
    cursor: grab;
  }

  @media (max-width: 1200px) {
    .hero p {
    font-size: 40px;
  }
  .profile-photo {
    max-width: 100%;
  }

  p.content {
    font-size: 35px;
  }

  .back-to-homepage {
    padding: 5px 0;
  }
  }