:root {
  --primary-color: #000;
  --secondary-color: red;
  --tertiary-color: #d1d7de;
  --quaternary-color: #897467;
  --font-family: "Archivo", sans-serif;
}

body {
  background-color: var(--primary-color) !important;
}

span {
  font-size: 9px;
  color: var(--tertiary-color) !important;
  padding-top: 50px;
  text-align: center;
}

.nav-link {
  color: rgb(255, 255, 255) !important;
}

.navbar-nav {
  font-size: 20px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.homepage {
  background-image:
    url("../images/redsky_background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Optional: keeps image fixed while scrolling */
  color: white;
  font-family: var(--font-family);
}

.homepage footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 20px;
}

.main-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.home-container {
  padding: 180px 100px 150px;
  display: block;
}

.content {
  padding: 10px 100px;
  display: block;
  text-align: center;
}

.content h3 {
  color: white;
}

.about-container {
  padding: 20px 100px 10px;
  display: block;
  text-align: center;
}

.redsky-introduction {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 60px;
}

.redsky-description p {
  padding: 30px;
  color: var(--quaternary-color);
  font-size: 20px;
  text-align: center;
}

.content-container h3 {
  color: white;
  font-size: 25px;
  margin: 20px 0 0;
  line-height: 1.5;
  font-family: var(--font-family);
}

.title p {
  font-size: 13px;
  text-align: center;
  opacity: 0.4;
}

.studio-images {
  max-width: 425px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.img-fluid {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 20px;
}

.hero {
  background: var(--primary-color);
  text-align: center;
  padding: 20px 20px;
}

.hero p {
  font-family: "Bebas Neue", sans-serif;
  color: white;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 20px;
}

.content h3 {
  font-size: 25px;
  padding: 10px 10px 10px;
  margin: 0 auto;
}
.contact-info {
  font-family: var(--font-family);
  color: var(--tertiary-color) !important;
  font-size: 30px;
  line-height: 1.5;
}

.call-us {
  display: inline-block;
  background-color: var(--primary-color);
  color: white;
  font-family: var(--font-family);
  font-size: 18px;
  padding: 15px 25px;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s, transform 0.2s;
}

.call-us:hover {
  background-color: var(--primary-color);
  color: white;
  transform: scale(1.05);
}

.call-us i {
  margin-right: 10px;
}


.contact-content a{
  text-decoration: none;
  color: var(--quaternary-color);
  font-size: 19px;
}

.content-container {
  margin: 10px 30px;
  padding: 50px 100px;
  display: block;
}

div.scroll-container {
  background-color: #e5e5e5;
  overflow: auto;
  white-space: nowrap;
  padding: 15px;
}

div.scroll-container img {
  padding: 15px;
}


.map-office {
  color: var(--tertiary-color);
  font-size: 22px;
  text-align: center;
}

.map {
  display: block;
  margin: 0 auto;
}

body.projects-background {
  background-color: #000;
}

footer {
  text-align: center;
  width: 100%;
  padding: 20px;
  color: white;
}

.follow-us {
  color: var(--quaternary-color);
  text-align: center;
  font-size: 12px;
}

.social-media {
  text-align: center;
  margin: auto 0;
}


li.nav-item {
  font-size: 30px;
  padding: 5px;
}

i {
  width: 100%;
  padding: 10px 20px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
  color: var(--primary-color);
  width: 100%;
}

i:hover {
  color: white;
  background: #000;
}

.contact-content {
  text-align: center;
  padding: 50px 100px 65px;
}

* {
  box-sizing: border-box;
}

#backToTopBtn {
  display: none; /* Hidden by default */
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  font-size: 25px;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 0;
  cursor: pointer;
  transition: background 0.3s;
}

#backToTopBtn:active {
  color: white;
}

@media (max-width: 1200px) {
  .hero p {
    font-size: 50px;
  }

  .homepage {
    background-size: 150% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll; /* optional, prevents fixed zoom issues */
  }

  .contact-info {
    font-size: 40px !important;
    color: var(--tertiary-color);
  }

  li.nav-item {
    font-size: 30px;
    padding: 20px;
  }

  .navbar-toggler {
    width: 60px;
    height: 20px;
    margin: 30px;
    position: relative;
    transition: 0.5s ease-in-out;
  }

  .navbar-toggler,
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
  }

  .navbar-toggler span {
    margin: 0px;
    padding: 0;
  }

  .toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 1px;
    border-color: white;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  .middle-bar {
    margin-top: 0px;
  }

  /*when navigation is clicked */

  .navbar-toggler .top-bar {
    margin-top: 0;
    transform: rotate(135deg);
  }

  .navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(-135deg);
  }

  /* State when the navbar is collapsed */

  .navbar-toggler.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
  }
  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  .navbar-toggler.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0deg);
  }

  .home-container {
    padding: 200px 100px 0px;
    display: block;
  }
  .redsky-description,
  .profile-content {
    font-family: var(--font-family);
    color: white;
    font-size: 22px;
    text-align: inherit;
    margin: 0 auto;
    display: block;
  }

  .about-container {
    padding: 10px 0;
    display: block;
    margin: 0 auto;
  }

  .content-container img {
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 10px 0;
  }

  .content-container h3 {
    color: white;
    font-size: 40px;
    margin: 20px 0 0;
    line-height: 1.5;
    font-family: var(--font-family);
  }

  .content h3 {
    font-size: 50px;
    padding: 30px 50px;
    margin: 0 auto;
  }

  .btn-sm {
    font-size: 30px;
  }

  .projects-background .btn-sm {
    font-size: 18px;
    padding: 15px 25px;
    border-radius: 8px;
  }
  .contact-content {
    max-width: 100%;
    padding: 100px 0 100px 0;
    margin: 0 auto;
    margin-left: 0;
    margin-right: 0;
  }

  .contact-content a{
    text-decoration: none;
    color: var(--quaternary-color);
    font-size: 19px;
  }

  #map {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  .map-office {
    font-size: 40px;
  }

  .follow-us {
    font-size: 24px;
    color: var(--tertiary-color);
  }

  .fa-brands { 
    font-size: 40px !important;
    color: var(--secondary-color); 
  }

  .social-media-home-index {
    width: 100%;
    padding: 500px 30px 20px 30px;
  }

  .social-media-studio {
    padding: 30px 30px;
  }
  .social-media-section {
    width: 100%;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
    color: var(--secondary-color);
  }
}

@media (min-width: 1200px) {

  .navbar-collapse {
    justify-content: center;
  }

  .redsky-description {
    font-family: var(--font-family);
    color: white;
    font-size: 28px;
    text-align: inherit;
    margin: 0 auto;
    display: block;
  }

  .social-media-about {
    width: 100%;
    margin: 0 auto;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
    color: var(--secondary-color);
  }

  .contact-info {
    font-size: 30px !important;
    color: var(--tertiary-color);
  }

  #map {
    max-width: 70%;
    display: block;
    margin: 0 auto;
  }

  .office-address,
  .office-country {
    font-size: 25px;
  }
  .nav-item {
    font-size: 25px;
  }

  .studio-images {
    max-width: 33%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .follow-us {
    font-size: 24px;
    color: var(--tertiary-color);
  }

  .fa-brands {
    font-size: 40px !important;
    color: var(--secondary-color);
  }
}