:root {
  --primary-color: #000;
  --seconday-color: red;
  --font-family: "Archivo", sans-serif;
}

body {
  background-color: var(--primary-color) !important;
}

.nav-link {
  color: var(--seconday-color) !important;
}

.main-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

i {
  color: red;
  width: 100%;
}

.hero {
  background: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-family: "Libre Baskerville", serif;
  color: white;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 20px;
}
