:root {
  --primary-color: #000;
  --seconday-color: red;
  --tertiarty-color: #9cadbe;
  --font-family: "Archivo", sans-serif;
}

body {
  background-color: var(--primary-color) !important;
}

span,
.coders-link {
  font-size: 9px;
  color: var(--tertiarty-color);
  padding-top: 50px;
  text-align: center;
}

.coders-link {
  font-weight: 200;
  text-decoration: none;
}

.nav-link {
  color: white !important;
}

.navbar-nav {
  justify-content: center;
}

.main-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.home-container {
  padding: 30px 100px;
  display: block;
}

.content {
  padding: 10px 100px;
  display: block;
  text-align: center;
}

.content h3 {
  color: white;
}

.about-container {
  padding: 20px 100px;
  display: block;
  text-align: center;
}
.redsky-description {
  font-family: var(--font-family);
  color: white;
  font-size: 23px;
  text-align: justify;
}

.content-container h3 {
  color: white;
  font-size: 16px;
  margin: 20px 0 0;
  line-height: 1.5;
  font-family: var(--font-family);
}

.title p {
  font-size: 13px;
  text-align: center;
  opacity: 0.4;
}

.studio-images {
  max-width: 425px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.img-fluid {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 20px;
}

.hero {
  background: var(--primary-color);
  text-align: center;
  padding: 20px 20px;
}

.hero p {
  font-family: "Libre Baskerville", serif;
  color: white;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 20px;
}

.content h3 {
  font-size: 25px;
  padding: 10px 10px 10px;
  margin: 0 auto;
}
.content p {
  font-family: var(--font-family);
  color: var(--tertiarty-color) !important;
  font-size: 20px;
  line-height: 3;
}

.content-container {
  margin: 10px 30px;
  padding: 50px 100px;
  display: block;
}

.upcoming-content img {
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
}

p .address {
  color: var(--tertiarty-color);
  font-size: 12px;
  text-align: center;
}

footer {
  position: fixed;
  margin: auto 0;
  bottom: 0;
}

.follow-us {
  color: white;
  text-align: center;
  font-size: 12px;
}

.social-media i {
  margin: 0 20px;
  width: 100%;
  padding: 10px 20px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
  color: var(--seconday-color);
  width: 100%;
  text-align: center;
}

.social-media i:hover {
  color: white;
  background: #000;
}

.footer-work-page {
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

@media (max-width: 800px) {
  h3 {
    font-size: 50px;
  }

  .navbar-item {
    font-size: 15px;
  }

  .redsky-description {
    font-family: var(--font-family);
    color: white;
    font-size: 15px;
    text-align: justify;
    margin: 0 auto;
    display: block;
  }

  .content {
    padding: 0;
  }
  .about-container {
    padding: 10px 0;
    display: block;
    margin: 0 auto;
  }

  .content-container img {
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 10px 0;
  }

  .studio-images {
    max-width: 33%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .content {
    max-width: 100%;
  }

  .content h3 {
    font-size: 40px;
    padding: 50px 50px;
    margin: 0 auto;
  }

  .btn-sm {
    font-size: 10px;
  }

  .contact-container {
    max-width: 100%;
    padding-top: 50px;
    margin: 0 auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 800px) {
  .navbar-collapse {
    justify-content: center;
  }

  .studio-images {
    max-width: 33%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
